.app {
  margin: 20px;
}

.game-field {
  display: flex;
  button {
    margin: 0 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
}

.lake-grid {
  display: grid;
  grid-template-rows: repeat(6, 80px);
  grid-template-columns: repeat(10, 80px);
  gap: 2px;
  margin-right: 10px;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3e5fc;
}

.frog {
  background-color: green;
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.highlight {
  background-color: yellow;
  color: black;
}

.indicator {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -2px;
  right: -2px;
  border-radius: 50%;
}

.traits {
  font-size: 8px;
  margin-top: 10px;
}

.legend-items {
  padding: 0;

  .legend-item {
    list-style: none;
  }
}
